

.tool {
	/* border: 2px black solid; */
	display: block;
	/* position: relative; */
	margin: 0 0 1pt 0;
}

/* .unfocused > .controls {
	opacity: 0;
	display: none;
	-webkit-transition: all 400ms ease-in-out;
	-moz-transition: all 400ms ease-in-out;
	-o-transition: all 400ms ease-in-out;
	transition: all 400ms ease-in-out;
}

.focused {
	-webkit-transition: all 400ms ease-in-out;
	-moz-transition: all 400ms ease-in-out;
	-o-transition: all 400ms ease-in-out;
	transition: all 400ms ease-in-out;

	opacity: 1;
} */

.tool > .preview > h1:hover {
	font-size: 26pt;
}

.tool.filteredOut > .preview > h1:hover {
	font-size: 20pt;
}

.tool.filteredOut > .preview > h1 {
	opacity: 0.5;
	font-size: 18pt;
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
	z-index: -1;
	position: relative;
}

.tool > .preview > h1 {
	color: black;
	text-decoration: none;
	font-size: 24pt;
	font-weight: normal;
	/* font-family: 'Special Elite', cursive; */
	/* font-family: 'Quicksand', sans-serif; */
	font-family: 'Cinzel', serif;
	/* font-family: 'Cute Font', cursive; */
	/* font-family: Abril Fatface; */
	/* font-family: Bungee Shade; */
	/* font-family: Cinzel; */
	/* font-family: Cute Font; */
	/* font-family: Faster One; */
	/* font-family: Monoton;  */
	/* font-family: Permanent Marker; */
	/* font-family: Quicksand; */
	/* font-family: Special Elite; */
	/* font-family: Vibes; */
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}

#tools {
	margin-top: 100px;
	margin-left: 15%;
	/* position: relative; */
}

#filter {
	position: absolute;
	left: 50%;
	width: 800px;
	margin-left: -400px;
	top: 50%;
	margin-top: -100px;
	font-size: 32pt;
	font-family: Quicksand;
}

.tool > .controls {
	position: absolute;
	left: 0;
	top: 0;
}