* {
	margin: 0;
	padding: 0;
	font-family: Quicksand;
}

#front-center {
	position: absolute;
	left: 50%;
	width: 800px;
	margin-left: -400px;
	top: 35%;
}

#filter {
	width: 800px;
	font-size: 32pt;
	font-family: Quicksand;
}

.footer {
	clear: both;
	text-align: center;
	padding-top: 100px;
	font-size: 12pt;
	color: #222;
}

.footer > a {
	color: #00BBFF;
	text-decoration: none;
}

.footer > .pipe {
	border-right: 1px #222 solid;
	margin: 0 30px;
}

.tool .controls .bothways {
	text-align: center;
	font-size: 16px;
	color: #666;
}
