* {
	margin: 0;
	padding: 0;
	font-family: Quicksand;
}

#front-center {
	position: absolute;
	left: 50%;
	width: 700px;
	margin-left: -350px;
	top: 35%;
}

#filter {
	width: 100%;
	font-size: 28pt;
	font-family: Quicksand;
}

.footer {
	clear: both;
	text-align: center;
	padding-top: 100px;
	font-size: 12pt;
	color: #222;
}

.footer > a {
	color: #00BBFF;
	text-decoration: none;
}

.footer > .pipe {
	border-right: 1px #222 solid;
	margin: 0 30px;
}

.tool .controls .bothways {
	text-align: center;
	font-size: 16px;
	color: #666;
}

input[type=radio],
input[type=checkbox] {
	appearance: none;
	-webkit-appearance: none;
	width: 1em;
	height: 1em;
	margin: 0 5px 0 0;
	outline: none;
	-webkit-outline: none;
	border: 1px #00BBFF solid;
	position: relative;
	top: 2px;
	transition: border-color 200ms linear;
}

input[type=radio] {
	border-radius: 100em;
}

input[type=checkbox]:active,
input[type=checkbox]:checked {
	box-shadow: inset 1px 1px 0px 1px rgb(255,255,255), inset -1px -1px 0px 1px rgb(255,255,255);
	background: #00BBFF;
	transition: background 200ms linear;
}

input[type=radio]:active,
input[type=radio]:checked {
	box-shadow: inset 1px 0 0px 1px rgb(255,255,255), inset -1px 0 0px 1px rgb(255,255,255), inset 0px 1px 0px 1px rgb(255,255,255), inset 0px -1px 0px 1px rgb(255,255,255);
    background: #00BBFF;
	transition: background 200ms linear;
}

#ui-stash,
#components,
#toolshed {
	display: none;
}