.focused {
	z-index: 9999;
}

.tool.unfocused > .preview {
	opacity: 1;
}

.tool.unfocused > .controls {
	opacity: 0;
	background-color: white;
	display: none;

	transition: opacity 200ms ease-in-out, background-color 200ms ease-in-out;
}

.tool.focused {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 100%;
	background-color: white;
	overflow: auto;
}

.tool.focused > .preview {
	opacity: 0;
}

.controls.smaller {
	padding: 5% 20%;
    width: 60%;
    /* min-height: 80%; */
	transition: transform 200ms ease-in-out,
}

.controls.bg {
	transform: scale(0.95);
	opacity: 0.5;
	filter: blur(5px);
	transition: transform 200ms ease-in-out,
				opacity 200ms ease-in-out,
				filter 200ms ease-in-out;
}

/* .controls > section .error.inset {
	position: absolute;
	bottom: 0;
	background: red;
	color: white;
	padding: 3px 15px;
	border-top-right-radius: 9px;
} */

.controls > section.hidden {
	display: none;
}

.controls > section {
	position: relative;
	margin-bottom: 3em;
}

.controls .left {
	float: left;
	width: 50%;
}

.controls .left.l40 {width: 40%;}
.controls .left.l35 {width: 35%;}
.controls .left.l30 {width: 30%;}

.controls .right.r60 {width: 60%;}
.controls .right.r65 {width: 65%;}
.controls .right.r70 {width: 70%;}

.controls .right {
	float: right;
	width: 50%;
}

.controls .subsection {
	padding: 0;
	margin-bottom: 2em;
	display: block;
}

.controls h1 {
	font-size: 22pt;
	font-weight: normal;
}

.controls {
	padding: 5% 10%;
	width: 80%;
	/* min-height: 80%; */
	opacity: 1;
	background-color: white;
	transition: opacity 200ms ease-in-out,
				background-color 200ms ease-in-out,
				transform 200ms ease-in-out,
				filter 200ms ease-in-out;
}

.controls .error {
	color: red;
	/* font-size: 16pt; */
	font-family: Quicksand;
	visibility: hidden;
}

.controls .error.shown {
	visibility: visible;
}

.controls .error > i.fas {
	margin-right: 5px;
}

.controls label {
	font-size: 22pt;
	font-family: Quicksand;
	transition: color 200ms ease-in-out;
}

.controls textarea {
	padding-bottom: 35px;
}

.controls textarea,
.controls input[type=text] {
	width: 100%;
	min-width: 100%;
	max-width: 100%;
    display: block;
    font-size: 16pt;
    padding: 12px;
	letter-spacing: 1pt;
	margin-bottom: 2em;
	/* border: 2px #99DDFF solid; */
	border: 2px #00BBFF solid;
}

.controls textarea.dragover,
.controls input[type=text].dragover {
	background-color: #DDEEFF;
	transition: background-color 200ms linear;
}

.controls textarea[disabled],
.controls input[type=text][disabled] {
	border: 1px #AAA solid;
	background: #F3F3F3;
	white-space: pre;
}

.controls section input[type=text],
.controls section textarea {
	margin-bottom: 0;
}

.tool .overcontrols {
	float: right;
	width: auto;
	padding-top: 10px;
}

.tool .overcontrols a.copy {
	margin-left: 20px;
    color: #00BBFF;
    text-decoration: none;
    float: right;
	font-size: 16pt;
	cursor: pointer;
}

.tool .overcontrols a.copy > span {
    margin-right: 10px;
    opacity: 0;
    transition: all 100ms ease-in-out;
    -webkit-transition: all 100ms ease-in-out;
    -moz-transition: all 100ms ease-in-out;
    -o-transition: all 100ms ease-in-out;
    font-size: 9pt;
    /* line-height: 28pt; */
    vertical-align: middle;
}

.tool .overcontrols a.copy:hover > span {
	opacity: 1;
	transition: all 100ms ease-in-out;
	-webkit-transition: all 100ms ease-in-out;
	-moz-transition: all 100ms ease-in-out;
	-o-transition: all 100ms ease-in-out;
}

.controls .overcontrols > label {
	font-size: 12pt;
	font-family: Quicksand;
	margin-right: 20px;
}

.sidebar {
	font-family: Quicksand;
	font-size: 24pt;
	position: absolute;
	left: 2%;
	top: 2%;
	color: #00BBFF;
	text-decoration: none;
}

.sidebar > a {
	cursor: pointer;
	display: block;
	margin-bottom: 1em;
	color: inherit;
	text-decoration: inherit;
}

.sidebar a > * {
	line-height: 24pt;
	vertical-align: middle;
}

.sidebar a > i {
	font-style: normal;
	/* font-size: 32pt; */
	margin-right: 5px;
	position: absolute;
	width: 32px;
    text-align: center;
}

.sidebar > a > span {
	font-size: 12pt;
	opacity: 0;
	transition: all 100ms ease-in-out;
	margin-left: 42px;
}

.sidebar > a:hover > span {
	font-size: 12pt;
	opacity: 1;
	transition: all 100ms ease-in-out;
}

.sidebar > a:hover > span > em {
	font-size: 10pt;
    position: relative;
    top: -4pt;
}

.tool > .components {
	display: none;
}

.kvpair {
	font-size: 16px;
	display: table-row;
}

.kvpair.kvsection {
	font-size: 22pt;
}

.kvpair.kvsection > .key {
	padding-top: 20px;
}

.kvpair.sub {
	margin-left: 50px;
}

.kvpair > .key  {
	display: inline-block;
    min-width: 100px;
    padding-right: 20px;
    padding-top: 5px;
    text-align: right;
	display: table-cell;
	vertical-align: top;
}

.kvpair > div {
	display: table-cell;
}

.kvpair .value {
	font-size: 22px;
	word-break: break-all;
	display: inline-block;
}

.kvpair .value {
	cursor: pointer;
	transition: all 100ms ease-in-out;
}

.kvpair .value:hover {
	color: #00BBFF;
	transform: scale(1.05);
	transition: all 100ms ease-in-out;
}

.kvpair .value.copied {
	animation: scale-up-center 0.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2019-10-28 6:35:48
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-up-center
 * ----------------------------------------
 */
@keyframes scale-up-center {
	0% {transform: scale(1.05);}
	30% {transform: scale(1.1);}
	100% {transform: scale(1.05);}
}

.floater {
	position: absolute;
    opacity: 1;
    font-size: 12pt;
    z-index: 9999;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px 18px;
    border-radius: 10px;
	margin-top: 0px;
}

.floater.vanishing {
	margin-top: -75px;
	opacity: 0;
	transition: all 600ms ease-in-out;
}

.tool {
	display: block;
	margin: 0 0 1pt 0;
}

.tool-preview.filteredOut > h1:hover {
	font-size: 20pt;
}

.tool-preview.filteredOut > h1 {
	opacity: 0.5;
	font-size: 18pt;
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
	z-index: -1;
	position: relative;
	cursor: pointer;
}

.tool-preview > h1 {
	color: black;
	text-decoration: none;
	font-size: 22pt;
	font-weight: normal;
	font-family: 'Cinzel', serif;
	transition: all 300ms ease-in-out;
	cursor: pointer;
	transform: scale(1);
}

.tool-preview > h1:hover {
	transform: scale(1.1);
}

#tools {
	/* margin-top: 100px; */
	/* margin-left: 15%; */
	/* position: relative; */
}

.controls {
	position: absolute;
	left: 0;
	top: 0;
}

.switch > div {
	overflow: hidden;
	margin-top: 0;
	transition: margin-top 200ms linear;
}

.switch > div > a {
	cursor: pointer;
	color: white;
	margin-top: -3em;
	transition: margin-top 200ms linear;
}

.switch:hover {
	/* background: #00bbff; */
	/* color: white; */
	/* transition: background, color 200ms linear; */
	cursor: inherit;
}

.switch:hover > div {
	cursor: inherit;
}

.switch:hover > div > a {
	margin-top: 0;
	transition: margin-top 200ms linear;
}

.switch > div > a,
.switch > span {
	padding: 7px 15px;
	display: block;
}

.switch > span > i {
	margin-left: 10px;
    float: right;
    top: 2px;
    position: relative;
}

.switch:hover > div > a:hover {
	/* background-image: url("./assets/stripes.png"); */
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAIAAAAmkwkpAAAAKElEQVQImWMsv/ufgYGh8x4DAwMDE5xVrsTAyLD7P4QFlYGwOu8xAAAwjgoUjnS3twAAAABJRU5ErkJggg==");
}

.switch:hover > div > a:last-child {
	border-radius: 0 0 10px 10px;
}

.controls .undercontrols {
	float: right;
    width: 100%;
    /* padding-top: 10px; */
    height: 35px;
    z-index: 999;
	position: relative;
}

.controls .undercontrols > * {
    background: #00BBFF;
    padding: 7px 15px;
    border-radius: 0 0 10px 10px;
    cursor: pointer;
    transition: background 200ms linear;
    font-size: 12pt;
    color: white;
    z-index: 99;
    float: right;
    margin-left: 20px;
}

.controls .undercontrols > .error {
	background-color: red;
    float: left;
    margin-left: 0;
	color: white;
	cursor: default;
}

.controls .undercontrols > a > i.far {
	margin-left: 10px;
}

.controls .undercontrols > .menu {
	padding: 0;
}

.disabled input[type=radio],
.disabled input[type=checkbox] {
    border-color: #d0d0d0;
}

.disabled input[type=radio]:checked,
.disabled input[type=radio]:active,
.disabled input[type=checkbox]:checked,
.disabled input[type=checkbox]:active {
    background: #d0d0d0;
}

.disabled label {
	color: #d0d0d0;
}

.disabled .undercontrols > * {
    background: #d0d0d0;
}

.disabled .switch:hover > div > a {
	margin-top: -3em;
}