.tool.switching.slide-left-init {
	left: 100%;
}

.tool.switching.slide-left-transit {
	margin-left: -100%;
	transition: margin-left 400ms ease-in-out;
}

.tool.switching.slide-right-init {
	left: -100%;
}

.tool.switching.slide-right-transit {
	margin-left: 100%;
	transition: margin-left 400ms ease-in-out;
}